.env
.env.*
!.env.production.example
.git
.github
.idea
.vscode
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/debugbar
tests
.phpunit.result.cache
